<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8" />
<title>About</title>

<!-- Mobile Specific
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<!-- CSS
================================================== -->
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/boxed.css" id="layout" />
<link rel="stylesheet" type="text/css" href="css/colors/beige.css" id="colors" />

<!-- Java Script
================================================== -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/selectnav.js"></script>
<script src="js/flexslider.js"></script>
<script src="js/twitter.js"></script>
<script src="js/tooltip.js"></script>
<script src="js/effects.js"></script>
<script src="js/fancybox.js"></script>
<script src="js/carousel.js"></script>
<script src="js/isotope.js"></script>

<!-- Styles Switcher
================================================== -->
<link rel="stylesheet" type="text/css" href="css/switcher.css" />
<script src="js/switcher.js"></script>

<script src='/google_analytics_auto.js'></script><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

<!-- Wrapper Start -->
<div id="wrapper">

<!-- Header
================================================== -->

<!-- 960 Container -->
<div class="container ie-dropdown-fix">

	<!-- Header -->
	<div id="header">

		<!-- Logo -->
		<div class="eight columns">
			<div id="logo">
				<a href="index.html"><img src="images/logo.png" alt="logo" /></a>
				<div id="tagline">九华阁 - 品质保证，值得信赖！</div>
				<div class="clear"></div>
			</div>
		</div>

		<!-- Social / Contact -->
		<div class="eight columns">
			
			
			
			<!-- Contact Details -->
			<div id="contact-details">
				<ul>
					<li><i class="mini-ico-user"></i><!--<a href="#">My Account</a>--><a href="login&register.html">登录 / 注册</a> </li>
					 <li><i class="mini-ico-th-list"></i> <a href="inquiry-item-01.html">查看询价单</a></li>
                    <li><i class="mini-ico-flag"></i> <a href="language.html">切换语言</a></li>
                    
				</ul>
			</div>

		</div>

	</div>
	<!-- Header / End -->
	
	<!-- Navigation -->
	<div class="sixteen columns">

		<div id="navigation">
			<ul id="nav">

				<li><a href="index.html">首页</a></li>

				<li><a href="Categories.html">产品中心</a></li>

				<li><a href="Solutions.html">解决方案</a> </li>
                
                <li><a href="List-menu.html">新闻中心</a>
					
				</li>

				<li><a href="Suppot.html">购买合作</a>
					
				</li>

				<li><a href="about.html">关于我们</a></li>
				<li><a href="contact.html">联系我们</a></li>

			</ul>

			<!-- Search Form -->
			<div class="search-form">
				<form method="get" action="#" />
					<input type="text" class="search-text-box" />
				</form>
			</div>

		</div> 
		<div class="clear"></div>
		
	</div>
	<!-- Navigation / End -->

</div>
<!-- 960 Container / End -->


<!-- Content
================================================== -->

<!-- 960 Container -->
<div class="container">

	<div class="sixteen columns">
	
		<!-- Page Title -->
		<div id="page-title">
			<h2><a href="/">首页</a> <span>/ 关于我们</span></h2>
			<div id="bolded-line"></div>
		</div>
		<!-- Page Title / End -->

	</div>
</div>
<!-- 960 Container / End -->


<!-- 960 Container -->
<div class="container">

	<!-- 16 Columns -->
	<div class="sixteen columns">
		<div class="headline no-margin"><h3>公司简介</h3></div>
        <img src="images/portfolio/staff-photo.jpg" alt="Staff Photo" class="float-right"/>
		<p> 九华阁贸易有限公司地处中国四大佛教名山之一的九华山，当地景色秀丽，人杰地灵，长年受佛家文化熏陶，人文淳朴，一派忠厚景象。每年吸引数百万中外游客来此驻足观光，参禅礼佛，流连忘返。</p>
<p>我们秉着以诚待客，广结善缘的心态，长期经营批发各色九华山开光佛珠，佛具，手链饰品，品种材质包含檀木、砗磲、玛瑙、水晶、菩提子等。并有九华山当地土特产供君选购，产品有九华佛茶，黄石溪毛峰茶，笋干，九华冰姜，石耳等食品和九华折扇等工艺品。</p>
	</div>
	<!-- 16 Columns End -->
	
	
	<div class="sixteen columns">
		<div class="headline low-margin"><h4>关于我们更多信息</h4></div>
	</div>
	
	<!-- About -->
	<div class="one-third column"> 
    <div class="picture"><a href="List-menu.html"><img src="images/portfolio/about-01.png" alt="" /><div class="image-overlay-link"></div></a></div>
    <div class="team-name"><h4>公司风貌 </h4> <span><a href="List-menu.html" class="">点击查看</a></span></div>
		<div class="team-about"><p>碧河公司致力于智能控制产品研发多年，通过与用户心与心的沟通和交流，积累了异常丰富的技术经验，使得碧河公司有能力不断的向市场推出品质稳定且非常好用的产品。</p></div>
		
	
		
	</div>
	
	<!-- About -->
	<div class="one-third column">
		
		<div class="picture"><a href="List-menu.html"><img src="images/portfolio/about-01.png" alt="" /><div class="image-overlay-link"></div></a></div>
		<div class="team-name"><h4>工厂参观</h4> <span><a href="List-menu.html" class="">点击查看</a></span></div>
		<div class="team-about"><p>碧河电气制造厂位于深圳宝安67区甲岸科技园内周边相关产业配套齐全，工厂交通便利，使得我们从制造到交付都能得以迅速实现，同时为碧河以及广大客户在瞬息变化的市场总是处于不败之地提供了有效保证。.</p></div>

		
	</div>
	
	<!-- About -->
	<div class="one-third column">
		<div class="picture"><a href="List-menu.html"><img src="images/portfolio/about-01.png" alt="" /><div class="image-overlay-link"></div></a></div>
		<div class="team-name"><h4>员工风采</h4> <span><a href="List-menu.html" class="">点击查看</a></span></div>
		<div class="team-about"><p>碧河公司运行内部非常先进的管理技术,河公司在向客户提供越来越完善长久的后续服务奠定了塌实的合作基础,与此同时，也有效解决了客户在实际应用时遇到的困难，实现了使用户买的放心、用的也放心的宗旨。</p></div>

	</div>
	
</div>
<!-- 960 Container End -->


</div>
<!-- Wrapper / End -->

<!-- Footer
================================================== -->

<!-- Footer Start -->
<div id="footer">
	<!-- 960 Container -->
	<div class="container">
	
		<!-- About -->
		<div class="four columns">
			<div class="footer-headline"><h4>Main Categories</h4></div>
			<ul class="links-list">
				<li><a href="#">Consumer Electronics</a></li>
				<li><a href="#">Community Forum</a></li>
				<li><a href="#">Help Desk</a></li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Validate License</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Knowledgebase</a></li>
			</ul>
		</div>
		
		<!-- Useful Links -->
		<div class="four columns">
			<div class="footer-headline"><h4>Quick Links</h4></div>
			<ul class="links-list">
				<li><a href="#">Service Updates</a></li>
				<li><a href="#">Community Forum</a></li>
				<li><a href="#">Help Desk</a></li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Validate License</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Knowledgebase</a></li>
			</ul>
		</div>
		
		<!-- Photo Stream -->
		<div class="four columns">
			<div class="footer-headline"><h4>Contact Info</h4></div>
            <div class="tooltips">
            <p>
Email: <a rel="tooltip" href="#" data-original-title="At your service">Jiangjiefei@outlook.com</a> <br/> 
Telephone: +86 0566 5111719<br/> 
</p>
            
            
            
            <p>Company Location <br/> <a rel="tooltip" href="#" data-original-title="Address">No.134,Lingyang Rd., Rongcheng Town, Qingyang County, Chizhou City, Anhui Province, China</a><br/>
             <a rel="tooltip" href="#" data-original-title="Office Hours"> Mondays-Friday: 09:00 - 18:00 </a>
            </p>
            </div>
           
        </div>
		
		<!-- Latest Tweets -->
		<div class="four columns">
        <div class="footer-headline"><h4>Quick Contact</h4></div>
			<div class="flickr-widget">
			    <ul>
				<li><a href="#"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
				<li><a href="#"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
				<li><a href="#"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
                <li><a href="#"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
				<li><a href="#"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
				<li><a href="#"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
                </ul>
				<div class="clear"></div>
			</div>
			
		</div>

		<!-- Footer / Bottom -->
		<div class="sixteen columns">
			<div id="footer-bottom">
				&copy; Copyright &copy; 2013.Company name All rights reserved.
				<div id="scroll-top-top"><a href="#"></a></div>
			</div>
		</div>

	</div>
	<!-- 960 Container / End -->

</div>
<!-- Footer / End -->


</body>
</html>