<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Email</title>
</head>

<body>


<div style="font-family:Arial, Helvetica, sans-serif; width:600px; margin:0 auto; border:1px solid #ccc;"> 

<div style="margin:0 ; padding:0;line-height:1.8em; font-size:14px;">

<p style="margin:0 ; padding:10px; ">
<strong style="font-size:14px;">客户邮箱: xx@xxx.com </strong><br />
<strong style="font-size:14px;">客户姓名: xxx </strong>
</p>

<div style="margin:0 ; padding:10px;line-height:1.8em; font-size:14px;">
  <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#ccc" style="font-size:12px">
  <tr>
    <td width="60%" bgcolor="#efefef" ><strong>产品名称</strong></td>
    <td width="30%" bgcolor="#efefef" ><strong>型号</strong></td>
    <td width="10%" bgcolor="#efefef" ><strong>数量</strong></td>
    </tr>
  <tr >
    <td align="left" bgcolor="#FFFFFF"><a href="#"><img src="images/portfolio/portoflio-01.jpg" alt="a" width="60" height="60" border="0" align="left"/></a>BF-160MW Solar System Water Temperature Controller</td>
    <td bgcolor="#FFFFFF" >BF-160MW 3 </td>
    <td align="center" bgcolor="#FFFFFF" >
      50</td>
    </tr>
    <tr >
    <td align="left" bgcolor="#FFFFFF"><a href="#"><img src="images/portfolio/portoflio-01.jpg" alt="a" width="60" height="60" border="0" align="left"/></a>BF-160MW Solar System Water Temperature Controller</td>
    <td bgcolor="#FFFFFF" >BF-160MW 3 </td>
    <td align="center" bgcolor="#FFFFFF" >
      50</td>
    </tr>
    <tr >
    <td align="left" bgcolor="#FFFFFF"><a href="#"><img src="images/portfolio/portoflio-01.jpg" alt="a" width="60" height="60" border="0" align="left"/></a>BF-160MW Solar System Water Temperature Controller</td>
    <td bgcolor="#FFFFFF" >BF-160MW 3 </td>
    <td align="center" bgcolor="#FFFFFF" >
      50</td>
    </tr>
</table>
</div>

<ul style="margin:0 ; padding:0 10px;font-size:12px; padding-left:30px;">
<li>单号: 20130912143409 </li>
<li>日期: 2013-06-25 </li>
<li>运输: 快递 </li>
<li>留言: 无需彩盒包装 </li>
</ul>

</div></div>

</body>
</html>
