<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml"><!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>

<!-- Mobile Specific
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<!-- CSS
================================================== -->
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/boxed.css" id="layout" />
<link rel="stylesheet" type="text/css" href="css/colors/beige.css" id="colors" />

<!-- Java Script
================================================== -->
<script src="js/jquery.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/selectnav.js"></script>
<script src="js/flexslider.js"></script>
<script src="js/twitter.js"></script>
<script src="js/tooltip.js"></script>
<script src="js/effects.js"></script>
<script src="js/fancybox.js"></script>
<script src="js/carousel.js"></script>
<script src="js/isotope.js"></script>

<!-- bootstrap-modal
================================================== -->
<script src="js/bootstrap-modal.js"></script>

</head>
<body>

<!-- Wrapper Start -->
<div id="wrapper">


<!-- Header
================================================== -->

<!-- 960 Container -->
<div class="container ie-dropdown-fix">

	<!-- Header -->
	<div id="header">

		<!-- Logo -->
		<div class="eight columns">
			<div id="logo" >
				<a href="#"><img src="images/logo.png" alt="logo" /></a>
				<div id="tagline" class="clearfix">JHG - The most Trustworthy from Top Quality !</div>
			</div>
		</div>

		<!-- Social / Contact -->
		<div class="eight columns">
			
			<!-- Contact Details -->
			<div id="contact-details">
				<ul>
					<li><i class="mini-ico-user"></i><!--登陆后<a href="my-profile.html">My Account</a>--><a href="login&register.html">Login / Register</a> </li>
					 <li><i class="mini-ico-th-list"></i> <a href="inquiry-item-01.html">Inquiry sheet </a></li>
                    <li><i class="mini-ico-flag"></i> <a href="language.html">Language</a></li>
                    <li><i class="mini-ico-off"></i> <a href="#">login out</a></li>
                    
				</ul>
			</div>

		</div>

	</div>
	<!-- Header / End -->
	
	<!-- Navigation -->
	<div class="sixteen columns">

		<div id="navigation">
			<ul id="nav">

				<li><a href="index.html">Home</a></li>

				<li><a href="Categories.html">Products</a></li>

				<li><a href="Solutions.html">Good health</a> </li>
                
                <li><a href="List-menu.html">News</a>
					
				</li>

				<li><a href="Suppot.html">Support</a>
					
				</li>

				<li><a href="about.html">About us</a></li>
				<li><a href="contact.html">Contact</a></li>

			</ul>

			<!-- Search Form -->
			<div class="search-form">
				<form method="get" action="#" />
					<input type="text" class="search-text-box" />
				</form>
			</div>

		</div> 
		<div class="clear"></div>
		
	</div>
	<!-- Navigation / End -->

</div>
<!-- 960 Container / End -->


<!-- Content
================================================== -->

<!-- 960 Container -->
<div class="container">

	<!-- Flexslider -->
	<div class="sixteen columns">
		<section class="slider">
			<div class="flexslider home">
				<ul class="slides">
				
					<li><a href="#"><img src="images/portfolio/slider-img-01.jpg" alt="" /></a></li>
					<li><a href="#"><img src="images/portfolio/slider-img-02.jpg" alt="" /></a></li> 
                    <li><a href="#"><img src="images/portfolio/slider-img-03.jpg" alt="" /></a></li>
					
				</ul>
			</div>
		</section>
  	</div>
	<!-- Flexslider / End -->
	
</div>
<!-- 960 Container / End -->





<!-- 960 Container -->
<div class="container">


	<!-- 1/3 Columns -->
	<div class="eight columns">
		<div class="headline"><h3>About us</h3></div>
		<p> JHG International Trade Company located Mount Jiuhua which is famous for its rich landscape and the culture of buddhism.  Local people are honesty and hospitality for influenced by buddhism culture for many years. Every year tens of thousands of visitors are attracted here from various parts of the world.<br />


With sincere hospitality， We are operating a wide variety of Buddha beads and utensil，material including: Red Sandalwood 、Tridacna、Agate、Crystal and Pipal, and we also do a fair amount in local specialty such as Jiuhua Buddha Tea , Snow Ginger, Dried Bamboo Shoots，Umbilicaria Esculenta and some artwares.
…… <a href="about.html">Get More <i class="mini-ico-chevron-right"></i></a> 
        </p>
	</div>
	
    	
	<div class="eight columns" style="margin-top:45px;">
	
		<!-- Tabs Navigation -->
		<ul class="tabs-nav">
			<li class="active"><a href="#tab1"><i class="mini-ico-bullhorn"></i> Company News</a></li>
			<li class="last-child"><a href="#tab2"><i class="mini-ico-bullhorn"></i> Product News</a></li>
		</ul>
				
		<!-- Tabs Content -->
		<div class="tabs-container">
			<div class="tab-content" id="tab1">
            <ul class="links-list-alt">
				<li><a href="List-content.html"><span>2013-03-16</span> 九华阁香港贸易博览会展会通知</a></li>
				<li><a href="List-content.html"><span>2013-03-16</span> 有关紫檀木原材料价格上涨问题</a></li>
                <li><a href="List-content.html"><span>2013-03-16</span> 有关紫檀木原材料价格上涨问题</a></li>
				<li><a href="List-content.html"><span>2013-03-16</span> 2013年春节放假通知</a></li>
               
			</ul>
           <ul class="plus_list"> <li><a href="List-menu.html">Get More</a></li></ul>
            </div>
			<div class="tab-content" id="tab2">
            <ul class="links-list-alt">
				<li><a href="List-content.html"><span>2013-03-16</span> 绝对不可多得，仅此一串，极品小叶紫檀，只展不卖</a></li>
                <li><a href="List-content.html"><span>2013-03-16</span> 有关最近科檀以此充好的辨别方法</a></li>
                <li><a href="List-content.html"><span>2013-03-16</span> 有关最近科檀以此充好的辨别方法</a></li>
                <li><a href="List-content.html"><span>2013-03-16</span> 原料出售，品种繁多，具体点我来看。</a></li>
			</ul>
           <ul class="plus_list"> <li><a href="List-menu.html">Get More</a></li></ul>
            </div>
            
		</div>
		
	</div>
		
	<!-- 1/2 Columns End -->
	
</div>
<!-- 960 Container End -->

<!-- 960 Container -->
<div class="container">
<!-- Headline -->
	<div class="headline"><h3>Popular Products</h3></div>
	
			<!-- Testimonial's Carousel -->
			<div class="testimonials-carousel" data-autorotate="3000">
				<ul class="carousel" >
				
					<li class="testimonial" >
						
              <!-- Project -->
	<div class="four columns">
		<div class="picture"><a href="item.html"><img src="images/portfolio/portoflio-01.jpg" alt="" /><div class="image-overlay-link"></div></a></div>
		<div class="item-description">
			<h5><a href="#">顶级顺纹老料极品小叶紫檀高档佛珠</a></h5> <p><a href="inquiry-no-item.html" class="button color">Inquiry</a>
			<a href="item.html" class="button light">View iteam</a></p>
		
		</div>
	</div>
	
	<!-- Project -->
	<div class="four columns">
		<div class="picture"><a href="item.html"><img src="images/portfolio/portoflio-02.jpg" alt="" /><div class="image-overlay-link"></div></a></div>
		<div class="item-description">
			<h5><a href="#">顶级顺纹老料极品小叶紫檀高档佛珠</a></h5> <p><a href="inquiry-no-item.html" class="button color">Inquiry</a>
			<a href="item.html" class="button light">View iteam</a></p>
		</div>
	</div>
	
	<!-- Project -->
	<div class="four columns">
		<div class="picture"><a href="item.html"><img src="images/portfolio/portoflio-03.jpg" alt="" /><div class="image-overlay-link"></div></a></div>
		<div class="item-description">
			<h5><a href="#">顶级顺纹老料极品小叶紫檀高档佛珠</a></h5> <p><a href="inquiry-no-item.html" class="button color">Inquiry</a>
			<a href="item.html" class="button light">View iteam</a></p>
		</div>
	</div>
	
	<!-- Project -->
	<div class="four columns">
		<div class="picture"><a href="item.html"><img src="images/portfolio/portoflio-04.jpg" alt="" /><div class="image-overlay-link"></div></a></div>
		<div class="item-description">
			<h5><a href="#">顶级顺纹老料极品小叶紫檀高档佛珠</a></h5> <p><a href="inquiry-no-item.html" class="button color">Inquiry</a>
			<a href="item.html" class="button light">View iteam</a></p>
		</div>
	</div>
    
					</li>
					
					<li class="testimonial" >
						
             <!-- Project -->
	<div class="four columns">
		<div class="picture"><a href="item.html"><img src="images/portfolio/portoflio-09.jpg" alt="" /><div class="image-overlay-link"></div></a></div>
		<div class="item-description">
			<h5><a href="#">Chinese knot with eight copper cashs</a></h5> <p><a href="inquiry-no-item.html" class="button color">Inquiry</a>
			<a href="item.html" class="button light">View iteam</a></p>
		
		</div>
	</div>
    
    <!-- Project -->
	<div class="four columns">
		<div class="picture"><a href="item.html"><img src="images/portfolio/portoflio-07.jpg" alt="" /><div class="image-overlay-link"></div></a></div>
		<div class="item-description">
			<h5><a href="#">Wireless Keyboard</a></h5> <p><a href="inquiry-no-item.html" class="button color">Inquiry</a>
			<a href="item.html" class="button light">View iteam</a></p>
		</div>
	</div>
	
	<!-- Project -->
	<div class="four columns">
		<div class="picture"><a href="item.html"><img src="images/portfolio/portoflio-08.jpg" alt="" /><div class="image-overlay-link"></div></a></div>
		<div class="item-description">
			<h5><a href="#">Chinese knot with eight copper cashs</a></h5> <p><a href="inquiry-no-item.html" class="button color">Inquiry</a>
			<a href="item.html" class="button light">View iteam</a></p>
		</div>
	</div>
	
	<!-- Project -->
	<div class="four columns">
		<div class="picture"><a href="item.html"><img src="images/portfolio/portoflio-10.jpg" alt="" /><div class="image-overlay-link"></div></a></div>
		<div class="item-description">
			<h5><a href="#">Surfing The Web</a></h5> <p><a href="inquiry-no-item.html" class="button color">Inquiry</a>
			<a href="item.html" class="button light">View iteam</a></p>
		</div>
	</div>
	
	
    
					</li>
                    
					
				</ul>
			</div>
</div>
<!-- 960 Container / End -->


</div>
<!-- Wrapper / End -->


<!-- Footer
================================================== -->

<!-- Footer Start -->
<div id="footer">
	<!-- 960 Container -->
	<div class="container">
	
		<!-- About -->
		<div class="four columns">
			<div class="footer-headline"><h4>Main Categories</h4></div>
			<ul class="links-list">
				<li><a href="#">佛珠佛具</a></li>
				<li><a href="#">茶叶</a></li>
				<li><a href="#">山珍特产</a></li>
				<li><a href="#">工艺品</a></li>
				<li><a href="#">文玩字画</a></li>
			</ul>
		</div>
		
		<!-- Useful Links -->
		<div class="four columns">
			<div class="footer-headline"><h4>Quick Links</h4></div>
			<ul class="links-list">
				<li><a href="#">新闻中心</a></li>
				<li><a href="#">购买合作</a></li>
				<li><a href="#">联系我们</a></li>
				<li><a href="#">关于我们</a></li>
				<li><a href="#">隐私政策</a></li>
				<li><a href="#">网站地图</a></li>
			</ul>
		</div>
		
		<!-- Photo Stream -->
		<div class="four columns">
			<div class="footer-headline"><h4>Contact Info</h4></div>
            <div class="tooltips">
            <p>
Email: <a rel="tooltip" href="#" data-original-title="At your service">Jiangjiefei@outlook.com</a> <br/> 
Telephone: +86 0566 5111719<br/> 
</p>
            
            
            
            <p>Company Location <br/> <a rel="tooltip" href="#" data-original-title="Address">No.134,Lingyang Rd., Rongcheng Town, Qingyang County, Chizhou City, Anhui Province, China</a><br/>
             <a rel="tooltip" href="#" data-original-title="Office Hours"> Mondays-Friday: 09:00 - 18:00 </a>
            </p>
            </div>
           
        </div>
		
		<!-- Latest Tweets -->
		<div class="four columns">
        <div class="footer-headline"><h4>Terms of Payment</h4></div>
           
			<div class="flickr-widget clearfix">
			    <ul>
				<li><a href="https://www.paypal.com/c2/webapps/mpp/home?locale.x=en_C2" target="_blank"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
				<li><a href="https://www.paypal.com/c2/webapps/mpp/home?locale.x=en_C2" target="_blank"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
				<li><a href="https://www.paypal.com/c2/webapps/mpp/home?locale.x=en_C2" target="_blank"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
                <li><a href="https://www.paypal.com/c2/webapps/mpp/home?locale.x=en_C2" target="_blank"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
				<li><a href="https://www.paypal.com/c2/webapps/mpp/home?locale.x=en_C2" target="_blank"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
				<li><a href="https://www.paypal.com/c2/webapps/mpp/home?locale.x=en_C2" target="_blank"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
                </ul>
			</div>
			
		</div>

		<!-- Footer / Bottom -->
		<div class="sixteen columns">
			<div id="footer-bottom">
				&copy; Copyright &copy; 2013. JHG International Trade Company. All rights reserved.
				<div id="scroll-top-top"><a href="#"></a></div>
			</div>
		</div>

	</div>
	<!-- 960 Container / End -->

</div>
<!-- Footer / End -->


</body>
</html>