<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml"><!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>

<!-- Mobile Specific
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<!-- CSS
================================================== -->
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/boxed.css" id="layout" />
<link rel="stylesheet" type="text/css" href="css/colors/beige.css" id="colors" />

<!-- Java Script
================================================== -->
<script src="js/jquery.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/selectnav.js"></script>
<script src="js/flexslider.js"></script>
<script src="js/twitter.js"></script>
<script src="js/tooltip.js"></script>
<script src="js/effects.js"></script>
<script src="js/fancybox.js"></script>
<script src="js/carousel.js"></script>
<script src="js/isotope.js"></script>

<!-- bootstrap-modal
================================================== -->
<script src="js/bootstrap-modal.js"></script>

</head>
<body>

<!-- Wrapper Start -->
<div id="wrapper">


<!-- Header
================================================== -->

<!-- 960 Container -->
<div class="container ie-dropdown-fix">

	<!-- Header -->
	<div id="header">

		<!-- Logo -->
		<div class="eight columns">
			<div id="logo" >
				<a href="#"><img src="images/logo.png" alt="logo" /></a>
				<div id="tagline" class="clearfix">九华阁 - 品质保证，值得信赖！</div>
			</div>
		</div>

		<!-- Social / Contact -->
		<div class="eight columns">
			
			<!-- Contact Details -->
			<div id="contact-details">
				<ul>
					<li><i class="mini-ico-user"></i><!--<a href="my-profile.html">My Account</a>--><a href="login&register.html">登录 / 注册</a> </li>
					 <li><i class="mini-ico-th-list"></i> <a href="inquiry-item-01.html">查看询价单</a></li>
                    <li><i class="mini-ico-flag"></i> <a href="language.html">切换语言</a></li>
                    <li><i class="mini-ico-off"></i> <a href="#">退出登录</a></li>
                    
				</ul>
			</div>

		</div>

	</div>
	<!-- Header / End -->
	
	<!-- Navigation -->
	<div class="sixteen columns">

		<div id="navigation">
			<ul id="nav">

				<li><a href="index.html">首页</a></li>

				<li><a href="Categories.html">产品中心</a></li>

				<li><a href="Solutions.html">修行养生</a> </li>
                
                <li><a href="List-menu.html">新闻中心</a></li>

				<li><a href="Suppot.html">购买合作</a></li>

				<li><a href="about.html">关于我们</a></li>
				<li><a href="contact.html">联系我们</a></li>

			</ul>

			<!-- Search Form -->
			<div class="search-form">
				<form method="get" action="#" />
					<input type="text" class="search-text-box" />
				</form>
			</div>

		</div> 
		<div class="clear"></div>
		
	</div>
	<!-- Navigation / End -->

</div>
<!-- 960 Container / End -->


<!-- Content
================================================== -->

<!-- 960 Container -->
<div class="container">

	<!-- Flexslider -->
	<div class="sixteen columns">
		<section class="slider">
			<div class="flexslider home">
				<ul class="slides">
				
					<li><a href="#"><img src="images/portfolio/slider-img-01.jpg" alt="" /></a></li>
					<li><a href="#"><img src="images/portfolio/slider-img-02.jpg" alt="" /></a></li> 
                    <li><a href="#"><img src="images/portfolio/slider-img-03.jpg" alt="" /></a></li>
					
				</ul>
			</div>
		</section>
  	</div>
	<!-- Flexslider / End -->
	
</div>
<!-- 960 Container / End -->





<!-- 960 Container -->
<div class="container">


	<!-- 1/3 Columns -->
	<div class="eight columns">
		<div class="headline"><h3>九华阁简介</h3></div>
		<p> 九华阁贸易有限公司地处中国四大佛教名山之一的九华山，当地景色秀丽，人杰地灵，长年受佛家文化熏陶，人文淳朴，一派忠厚景象。每年吸引数百万中外游客来此驻足观光，参禅礼佛，流连忘返。<br>

我们秉着以诚待客，广结善缘的心态，长期经营批发各色九华山开光佛珠，佛具，手链饰品，品种材质包含檀木、砗磲、玛瑙、水晶、菩提子等。并有九华山当地土特产供君选购，产品有九华佛茶，黄石溪毛峰茶，笋干，九华冰姜，石耳等食品和九华折扇等工艺品。<br>
…… <a href="about.html">更多信息 <i class="mini-ico-chevron-right"></i></a> 
        </p>
	</div>
	
    	
	<div class="eight columns" style="margin-top:45px;">
	
		<!-- Tabs Navigation -->
		<ul class="tabs-nav">
			<li class="active"><a href="#tab1"><i class="mini-ico-bullhorn"></i> 公司新闻</a></li>
			<li class="last-child"><a href="#tab2"><i class="mini-ico-bullhorn"></i> 产品动态</a></li>
		</ul>
				
		<!-- Tabs Content -->
		<div class="tabs-container">
			<div class="tab-content" id="tab1">
            <ul class="links-list-alt">
				<li><a href="List-content.html"><span>2013-03-16</span> 九华阁香港贸易博览会展会通知</a></li>
				<li><a href="List-content.html"><span>2013-03-16</span> 有关紫檀木原材料价格上涨问题</a></li>
                <li><a href="List-content.html"><span>2013-03-16</span> 有关紫檀木原材料价格上涨问题</a></li>
				<li><a href="List-content.html"><span>2013-03-16</span> 2013年春节放假通知</a></li>
               
			</ul>
           <ul class="plus_list"> <li><a href="List-menu.html">更多信息</a></li></ul>
            </div>
			<div class="tab-content" id="tab2">
            <ul class="links-list-alt">
				<li><a href="List-content.html"><span>2013-03-16</span> 绝对不可多得，仅此一串，极品小叶紫檀，只展不卖</a></li>
                <li><a href="List-content.html"><span>2013-03-16</span> 有关最近科檀以此充好的辨别方法</a></li>
                <li><a href="List-content.html"><span>2013-03-16</span> 有关最近科檀以此充好的辨别方法</a></li>
                <li><a href="List-content.html"><span>2013-03-16</span> 原料出售，品种繁多，具体点我来看。</a></li>
			</ul>
           <ul class="plus_list"> <li><a href="List-menu.html">更多信息</a></li></ul>
            </div>
            
		</div>
		
	</div>
		
	<!-- 1/2 Columns End -->
	
</div>
<!-- 960 Container End -->

<!-- 960 Container -->
<div class="container">
<!-- Headline -->
	<div class="headline"><h3>热销产品</h3></div>
	
			<!-- Testimonial's Carousel -->
			<div class="testimonials-carousel" data-autorotate="3000">
				<ul class="carousel" >
				
					<li class="testimonial" >
						
              <!-- Project -->
	<div class="four columns">
		<div class="picture"><a href="item.html"><img src="images/portfolio/portoflio-01.jpg" alt="" /><div class="image-overlay-link"></div></a></div>
		<div class="item-description">
			<h5><a href="#">顶级顺纹老料极品小叶紫檀高档佛珠</a></h5> <p><a href="inquiry-no-item.html" class="button color">询价购买</a>
			<a href="item.html" class="button light">查看详细</a></p>
		
		</div>
	</div>
	
	<!-- Project -->
	<div class="four columns">
		<div class="picture"><a href="item.html"><img src="images/portfolio/portoflio-02.jpg" alt="" /><div class="image-overlay-link"></div></a></div>
		<div class="item-description">
			<h5><a href="#">顶级顺纹老料极品小叶紫檀高档佛珠</a></h5> <p><a href="inquiry-no-item.html" class="button color">询价购买</a>
			<a href="item.html" class="button light">查看详细</a></p>
		</div>
	</div>
	
	<!-- Project -->
	<div class="four columns">
		<div class="picture"><a href="item.html"><img src="images/portfolio/portoflio-03.jpg" alt="" /><div class="image-overlay-link"></div></a></div>
		<div class="item-description">
			<h5><a href="#">顶级顺纹老料极品小叶紫檀高档佛珠</a></h5> <p><a href="inquiry-no-item.html" class="button color">询价购买</a>
			<a href="item.html" class="button light">查看详细</a></p>
		</div>
	</div>
	
	<!-- Project -->
	<div class="four columns">
		<div class="picture"><a href="item.html"><img src="images/portfolio/portoflio-04.jpg" alt="" /><div class="image-overlay-link"></div></a></div>
		<div class="item-description">
			<h5><a href="#">顶级顺纹老料极品小叶紫檀高档佛珠</a></h5> <p><a href="inquiry-no-item.html" class="button color">询价购买</a>
			<a href="item.html" class="button light">查看详细</a></p>
		</div>
	</div>
    
					</li>
					
					<li class="testimonial" >
						
             <!-- Project -->
	<div class="four columns">
		<div class="picture"><a href="item.html"><img src="images/portfolio/portoflio-09.jpg" alt="" /><div class="image-overlay-link"></div></a></div>
		<div class="item-description">
			<h5><a href="#">Chinese knot with eight copper cashs</a></h5> <p><a href="inquiry-no-item.html" class="button color">询价购买</a>
			<a href="item.html" class="button light">查看详细</a></p>
		
		</div>
	</div>
    
    <!-- Project -->
	<div class="four columns">
		<div class="picture"><a href="item.html"><img src="images/portfolio/portoflio-07.jpg" alt="" /><div class="image-overlay-link"></div></a></div>
		<div class="item-description">
			<h5><a href="#">Wireless Keyboard</a></h5> <p><a href="inquiry-no-item.html" class="button color">询价购买</a>
			<a href="item.html" class="button light">查看详细</a></p>
		</div>
	</div>
	
	<!-- Project -->
	<div class="four columns">
		<div class="picture"><a href="item.html"><img src="images/portfolio/portoflio-08.jpg" alt="" /><div class="image-overlay-link"></div></a></div>
		<div class="item-description">
			<h5><a href="#">Chinese knot with eight copper cashs</a></h5> <p><a href="inquiry-no-item.html" class="button color">询价购买</a>
			<a href="item.html" class="button light">查看详细</a></p>
		</div>
	</div>
	
	<!-- Project -->
	<div class="four columns">
		<div class="picture"><a href="item.html"><img src="images/portfolio/portoflio-10.jpg" alt="" /><div class="image-overlay-link"></div></a></div>
		<div class="item-description">
			<h5><a href="#">Surfing The Web</a></h5> <p><a href="inquiry-no-item.html" class="button color">询价购买</a>
			<a href="item.html" class="button light">查看详细</a></p>
		</div>
	</div>
	
	
    
					</li>
                    
					
				</ul>
			</div>
</div>
<!-- 960 Container / End -->


</div>
<!-- Wrapper / End -->


<!-- Footer
================================================== -->

<!-- Footer Start -->
<div id="footer">
	<!-- 960 Container -->
	<div class="container">
	
		<!-- About -->
		<div class="four columns">
			<div class="footer-headline"><h4>主产品线目录</h4></div>
			<ul class="links-list">
				<li><a href="#">佛珠佛具</a></li>
				<li><a href="#">茶叶</a></li>
				<li><a href="#">山珍特产</a></li>
				<li><a href="#">工艺品</a></li>
				<li><a href="#">文玩字画</a></li>
			</ul>
		</div>
		
		<!-- Useful Links -->
		<div class="four columns">
			<div class="footer-headline"><h4>便捷链接</h4></div>
			<ul class="links-list">
				<li><a href="#">新闻中心</a></li>
				<li><a href="#">购买合作</a></li>
				<li><a href="#">联系我们</a></li>
				<li><a href="#">关于我们</a></li>
				<li><a href="#">隐私政策</a></li>
				<li><a href="#">网站地图</a></li>
			</ul>
		</div>
		
		<!-- Photo Stream -->
		<div class="four columns">
			<div class="footer-headline"><h4>联系信息</h4></div>
            <div class="tooltips">
            <p>
邮件: <a rel="tooltip" href="#" data-original-title="欢迎您联系我 !">Jiangjiefei@outlook.com</a> <br/> 
电话: +86 0566 5111719<br/> 
</p>
            
            
            
            <p>公司地址 <br/> <a rel="tooltip" href="#" data-original-title="地址">安徽省池州市青阳县蓉城镇陵阳路</a><br/>
             <a rel="tooltip" href="#" data-original-title="工作时间">周一至周五: 早上09:00 - 下午18:00 </a>
            </p>
            </div>
           
        </div>
		
		<!-- Latest Tweets -->
		<div class="four columns">
        <div class="footer-headline"><h4>支付方式</h4></div>
           
			<div class="flickr-widget clearfix">
			    <ul>
				<li><a href="https://www.paypal.com/c2/webapps/mpp/home?locale.x=en_C2" target="_blank"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
				<li><a href="https://www.paypal.com/c2/webapps/mpp/home?locale.x=en_C2" target="_blank"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
				<li><a href="https://www.paypal.com/c2/webapps/mpp/home?locale.x=en_C2" target="_blank"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
                <li><a href="https://www.paypal.com/c2/webapps/mpp/home?locale.x=en_C2" target="_blank"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
				<li><a href="https://www.paypal.com/c2/webapps/mpp/home?locale.x=en_C2" target="_blank"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
				<li><a href="https://www.paypal.com/c2/webapps/mpp/home?locale.x=en_C2" target="_blank"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
                </ul>
			</div>
			
		</div>

		<!-- Footer / Bottom -->
		<div class="sixteen columns">
			<div id="footer-bottom">
				&copy; Copyright &copy; 2013. 九华阁（JHG）贸易 All rights reserved.
				<div id="scroll-top-top"><a href="#"></a></div>
			</div>
		</div>

	</div>
	<!-- 960 Container / End -->

</div>
<!-- Footer / End -->


</body>
</html>