<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8" />
<title>Inquiry Sheet</title>

<!-- Mobile Specific
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<!-- CSS
================================================== -->
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/boxed.css" id="layout" />
<link rel="stylesheet" type="text/css" href="css/colors/beige.css" id="colors" />

<!-- Java Script
================================================== -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/selectnav.js"></script>
<script src="js/flexslider.js"></script>
<script src="js/twitter.js"></script>
<script src="js/tooltip.js"></script>
<script src="js/effects.js"></script>
<script src="js/fancybox.js"></script>
<script src="js/carousel.js"></script>
<script src="js/isotope.js"></script>

<!-- bootstrap-modal
================================================== -->
<script src="js/bootstrap-modal.js"></script>

<!-- Styles Switcher
================================================== -->
<link rel="stylesheet" type="text/css" href="css/switcher.css" />
<script src="js/switcher.js"></script>

<script src='/google_analytics_auto.js'></script><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

<!-- Wrapper Start -->
<div id="wrapper">


<!-- Header
================================================== -->

<!-- 960 Container -->
<div class="container ie-dropdown-fix">

	<!-- Header -->
	<div id="header">

		<!-- Logo -->
		<div class="eight columns">
			<div id="logo">
				<a href="#"><img src="images/logo.png" alt="logo" /></a>
                <div id="tagline">我们长在!</div>
				<div class="clear"></div>
			</div>
		</div>

		<!-- Social / Contact -->
		<div class="eight columns">
			
			<!-- Contact Details -->
			<div id="contact-details">
				<ul>
					<li><i class="mini-ico-user"></i><a href="my-profile.html">我的账户</a> </li>
					<li><i class="mini-ico-th-list"></i> <a href="inquiry-item-01.html">查看询价单</a></li>
                    <li><i class="mini-ico-flag"></i> <a href="language.html">语言切换</a></li>
                    <li><i class="mini-ico-off"></i> <a href="#">退出登录</a></li>
                    
				</ul>
			</div>

		</div>

	</div>
	<!-- Header / End -->
	
	<!-- Navigation -->
	<div class="sixteen columns">

		<div id="navigation">
			<ul id="nav">

				<li><a href="index.html">首页</a></li>

				<li><a href="Categories.html">产品中心</a></li>

				<li><a href="Solutions.html">解决方案</a> </li>
                
                <li><a href="List-menu.html">新闻中心</a>
					
				</li>

				<li><a href="Suppot.html">购买合作</a>
					
				</li>

				<li><a href="about.html">关于我们</a></li>
				<li><a href="contact.html">联系我们</a></li>

			</ul>

			<!-- Search Form -->
			<div class="search-form">
				<form method="get" action="#" />
					<input type="text" class="search-text-box" />
				</form>
			</div>

		</div> 
		<div class="clear"></div>
		
	</div>
	<!-- Navigation / End -->

</div>
<!-- 960 Container / End -->


<!-- Content
================================================== -->

<!-- 960 Container -->
<div class="container">

	<div class="sixteen columns">
	
		<!-- Page Title -->
		<div id="page-title">
			<h2><a href="/">首页</a> <span>/ 询价单</span></h2>
			<div id="bolded-line"></div>
		</div>
		<!-- Page Title / End -->

	</div>
</div>
<!-- 960 Container / End -->


<!--  960 Container Start -->
<div class="container">

	<!-- Text -->
	<div class="sixteen columns">
    <p> 您好！ 我们将会在两个工作日内就您的询价给予回复，感谢您的支持！</p>
		
        
      <div class="headline margin"><h3>询价单</h3></div>
      
      <div class="notification warning closeable">
			<p><span>注意: 最低询价数量不低于10.</span> </p>
		</div>
      
        <table class="standard-table">

				<tr>
					<th>产品名称 </th>
					<th>型号</th>
					<th>数量</th>
					<th>操作</th>
				</tr>

				<tr>
					<td><a href="item.html" target="_blank"><img src="images/portfolio/portoflio-01.jpg" alt="" class="image-left w55"/></a>
                <a href="item.html" target="_blank">微电脑两路温度控制器</a></td>
					<td>LC-220A+</td>
					<td><input type="text" class="text" value="5"/></td>
					<td><a href="#alertsure" data-toggle="modal" role="button">删除</a></td>
		        </tr>
				
				<tr>
					<td><a href="item.html" target="_blank"><img src="images/portfolio/portoflio-03.jpg" alt="" class="image-left w55"/></a>
                <a href="item.html" target="_blank">微电脑两路温度控制器</a></td>
					<td>LC-220A+</td>
					<td><input type="text" class="text" value="5"/></td>
					<td><a href="#alertsure" data-toggle="modal" role="button">删除</a></td>
		        </tr>
				
				<tr>
					<td><a href="item.html" target="_blank"><img src="images/portfolio/portoflio-05.jpg" alt="" class="image-left w55"/></a>
                <a href="item.html" target="_blank">微电脑两路温度控制器</a></td>
					<td>LC-220A+</td>
					<td><input type="text" class="text" value="5"/></td>
					<td><a href="#alertsure" data-toggle="modal" role="button">删除</a></td>
		        </tr>
				
				<tr>
					<td><a href="item.html" target="_blank"><img src="images/portfolio/portoflio-08.jpg" alt="" class="image-left w55"/></a>
                <a href="item.html" target="_blank">微电脑两路温度控制器</a></td>
					<td>LC-220A+</td>
					<td><input type="text" class="text" value="5"/></td>
					<td><a href="#alertsure" data-toggle="modal" role="button">删除</a></td>
		        </tr>

	  </table>
      
                        <!-- Modal -->
                        <div id="alertsure" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <!-- alert-notice -->
		                <div class="alert-notice">
                        <p><i class="mini-ico-exclamation-sign"></i> 你确定删除此产品吗 ?</p>
                        <div class="btn">
			            <a href="#" class="button light">是 </a>
                        <a href="#" class="button color"  data-dismiss="modal" aria-hidden="true">否</a>
                        </div>
		                </div>
                        </div>
                        <!-- Modal -->
      
	</div>

	<!-- Tooltips 
================================================== -->

	<div class="eight columns">
	
		<!-- Headline -->
		<div class="headline no-margin"><h3>询价单选项</h3></div>

		 <div class="tooltips">
			<p>如果您在包装、运输上有特别要求或其他问题，请给我们留言： </p>
                    <p><select name="">
                     <option>选择运输方式-</option>
		            <option>快递</option>
                    <option>物流</option>
		            <option>平邮</option>
                  
	                </select></p> <p><textarea class="text textarea" style="width:75%;">留言: </textarea></p>
            
		</div>

	</div>
	
	
<!-- Blockquote
================================================== -->

	<div class="eight columns">
	
		<!-- Headline -->
		<div class="headline no-margin"><h3>询价单摘要</h3></div>
		
		<h4 class="row"><i class="mini-ico-tags"></i>  询价产品总数量 - <span class="alert-orange"> 25 件</span> </h4>
        
        <a href="Categories.html" class="button medium light">继续添加</a> <a href="inquiry-item-02.html" class="button medium  color">发送询价单</a>
	</div>

</div>
<!-- End 960 Container -->

</div>
<!-- Wrapper / End -->

<!-- Footer
================================================== -->

<!-- Footer Start -->
<div id="footer">
	<!-- 960 Container -->
	<div class="container">
	
		<!-- About -->
		<div class="four columns">
			<div class="footer-headline"><h4>Main Categories</h4></div>
			<ul class="links-list">
				<li><a href="#">Consumer Electronics</a></li>
				<li><a href="#">Community Forum</a></li>
				<li><a href="#">Help Desk</a></li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Validate License</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Knowledgebase</a></li>
			</ul>
		</div>
		
		<!-- Useful Links -->
		<div class="four columns">
			<div class="footer-headline"><h4>Quick Links</h4></div>
			<ul class="links-list">
				<li><a href="#">Service Updates</a></li>
				<li><a href="#">Community Forum</a></li>
				<li><a href="#">Help Desk</a></li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Validate License</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Knowledgebase</a></li>
			</ul>
		</div>
		
		<!-- Photo Stream -->
		<div class="four columns">
			<div class="footer-headline"><h4>Contact Info</h4></div>
            <div class="tooltips">
            <p>
Email: <a rel="tooltip" href="#" data-original-title="At your service">Jiangjiefei@outlook.com</a> <br/> 
Telephone: +86 0566 5111719<br/> 
</p>
            
            
            
            <p>Company Location <br/> <a rel="tooltip" href="#" data-original-title="Address">No.134,Lingyang Rd., Rongcheng Town, Qingyang County, Chizhou City, Anhui Province, China</a><br/>
             <a rel="tooltip" href="#" data-original-title="Office Hours"> Mondays-Friday: 09:00 - 18:00 </a>
            </p>
            </div>
           
        </div>
		
		<!-- Latest Tweets -->
		<div class="four columns">
        <div class="footer-headline"><h4>Quick Contact</h4></div>
			<div class="flickr-widget">
			    <ul>
				<li><a href="#"><img src="images/popular-post-01.png" alt="" /></a></li>
				<li><a href="#"><img src="images/popular-post-02.png" alt="" /></a></li>
				<li><a href="#"><img src="images/popular-post-03.png" alt="" /></a></li>
                <li><a href="#"><img src="images/popular-post-04.png" alt="" /></a></li>
				<li><a href="#"><img src="images/popular-post-05.png" alt="" /></a></li>
				<li><a href="#"><img src="images/popular-post-06.png" alt="" /></a></li>
                </ul>
				<div class="clear"></div>
			</div>
			
		</div>

		<!-- Footer / Bottom -->
		<div class="sixteen columns">
			<div id="footer-bottom">
				&copy; Copyright &copy; 2013.Company name All rights reserved.
				<div id="scroll-top-top"><a href="#"></a></div>
			</div>
		</div>

	</div>
	<!-- 960 Container / End -->

</div>
<!-- Footer / End -->



</body>
</html>