<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8" />
<title>Product name</title>

<!-- Mobile Specific
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<!-- CSS
================================================== -->
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/boxed.css" id="layout" />
<link rel="stylesheet" type="text/css" href="css/colors/beige.css" id="colors" />

<!-- Java Script
================================================== -->
<script src="js/jquery.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/selectnav.js"></script>
<script src="js/flexslider.js"></script>
<script src="js/twitter.js"></script>
<script src="js/tooltip.js"></script>
<script src="js/effects.js"></script>
<script src="js/fancybox.js"></script>
<script src="js/carousel.js"></script>
<script src="js/isotope.js"></script>


<!-- bootstrap-modal
================================================== -->
<script src="js/bootstrap-modal.js"></script>

<!-- Styles Switcher
================================================== -->
<link rel="stylesheet" type="text/css" href="css/switcher.css" />
<script src="js/switcher.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

<!-- Wrapper Start -->
<div id="wrapper">


<!-- Header
================================================== -->

<!-- 960 Container -->
<div class="container ie-dropdown-fix">

	<!-- Header -->
	<div id="header">

		<!-- Logo -->
		<div class="eight columns">
			<div id="logo">
				<a href="#"><img src="images/logo.png" alt="logo" /></a>
                <div id="tagline" class="clearfix">九华阁 - 品质保证，值得信赖！</div>
			</div>
		</div>

		<!-- Social / Contact -->
		<div class="eight columns">
			
			<!-- Contact Details -->
			<div id="contact-details">
				<ul>
					<li><i class="mini-ico-user"></i><a href="my-profile.html">我的账户</a> </li>
					<li><i class="mini-ico-th-list"></i> <a href="inquiry-item-01.html">查看询价单</a></li>
                    <li><i class="mini-ico-flag"></i> <a href="language.html">语言切换</a></li>
                    <li><i class="mini-ico-off"></i> <a href="#">退出登录</a></li>
                    
				</ul>
			</div>

		</div>

	</div>
	<!-- Header / End -->
	
	<!-- Navigation -->
	<div class="sixteen columns">

		<div id="navigation">
			<ul id="nav">

				<li><a href="index.html">首页</a></li>

				<li><a href="Categories.html">产品中心</a></li>

				<li><a href="Solutions.html">解决方案</a> </li>
                
                <li><a href="List-menu.html">新闻中心</a>
					
				</li>

				<li><a href="Suppot.html">购买合作</a>
					
				</li>

				<li><a href="about.html">关于我们</a></li>
				<li><a href="contact.html">联系我们</a></li>

			</ul>

			<!-- Search Form -->
			<div class="search-form">
				<form method="get" action="#" />
					<input type="text" class="search-text-box" />
				</form>
			</div>

		</div> 
		<div class="clear"></div>
		
	</div>
	<!-- Navigation / End -->

</div>
<!-- 960 Container / End -->


<!-- Content
================================================== -->

<!-- 960 Container -->
<div class="container">

	<div class="sixteen columns">
	
		<!-- Page Title -->
		<div id="page-title">
			<h2><a href="/">首页</a> <span>/ <a href="/">产品中心</a></span> <span>/ <a href="/">产品分类</a> </span> <span>/20mm 顶级顺纹老料极品小叶紫檀高档佛珠</span></h2>
			
			<div id="bolded-line"></div>
		</div>
		<!-- Page Title / End -->

	</div>
</div>
<!-- 960 Container / End -->


<!-- 960 Container -->
<div class="container ">

	<!-- 1/2 Columns -->
	<div class="eight columns">
		
        <!-- Flexslider -->
		<section class="slider">
			<div class="flexslider subpage">
				<ul class="slides">
				<li><div class="picture"><a href="images/portfolio/portoflio-01.jpg" rel="image-gallery" title="Rocks and Sy"><img src="images/portfolio/portoflio-01.jpg" alt="" /><div class="image-overlay-zoom"></div></a></div></li>
				<li><div class="picture"><a href="images/portfolio/portoflio-02.jpg" rel="image-gallery" title="Grand Canyon"><img src="images/portfolio/portoflio-02.jpg" alt="" /><div class="image-overlay-zoom"></div></a></div></li>
				<li><div class="picture"><a href="images/portfolio/portoflio-03.jpg" rel="image-gallery" title="Road to Hell"><img src="images/portfolio/portoflio-03.jpg" alt="" /><div class="image-overlay-zoom"></div></a></div></li>
					
				</ul>
			</div>
		</section>
		
		<div class="clear"></div>
	</div>
	
	<div class="eight columns">
		<h3>20mm 顶级顺纹老料极品小叶紫檀高档佛珠</h3>
        <p><span>产品编号:1655</span></p>
		<p>如果你对该款产品感兴趣并欲采购，请告知需求数量，以便我们给您更准确的报价。 </p>
        <!-- Large Notice -->
		<div class="large-notice row">
        
            <!-- Form -->
		<div id="contact-form" class="row">
			<form method="post" />
				
				<div class="field">
					<label>询价数量 <span>*</span></label>
					<input type="text" class="text" />
				</div>
                
                <div class="field">
					<label>型号参数 <span>*</span></label>
				    <select name="">
		            <option>配蜜蜡隔珠</option>
		            <option>全素子</option>
	                </select>
		  </div>
				
			</form>
            <div class="clear"></div>
		</div>
			<a href="inquiry-item-01.html" class="button medium color">添加到询价单</a> 
            <a href="#myModal" data-toggle="modal" role="button" class="button" >收藏</a>
		</div>
        <p class="alert-red">注意:该款 最低询价数量不低于10件. </p>
	</div>
    
                        <!-- Modal -->
                        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <!-- alert-notice -->
		                <div class="alert-notice">
                        <p><i class="mini-ico-exclamation-sign"></i> 产品添加成功 !  <!--重复添加提示  产品已存在收藏夹中 !--></p>
                        <div class="btn">
                        <a href="my-favorite.html" class="button light">查看我的收藏夹 </a>
                        <a href="#" class="button color"  data-dismiss="modal" aria-hidden="true">关闭</a>
                        </div>
		                </div>
                        </div>
                        <!-- Modal -->
    
	<!-- 1/2 Columns End -->
	
</div>
<!-- 960 Container End -->

<!-- 960 Container -->
<div class="container">


<!-- Sidebar
================================================== -->
<div class="four columns">

    <!-- Tags  下载仅限vip认证会员-->
	<div class="widget">
		<div class="headline no-margin"><h4>资料下载</h4></div>
		<div class="tags">
			<a href="#">产品说明书</a>
			<a href="#">产品宣传册</a>
		</div>
	</div>
    	
	<!-- Popular Posts -->
	<div class="widget">
		<div class="headline no-margin"><h4>热销产品</h4></div>
		
		<div class="latest-post-blog">
			<a href="#"><img src="images/portfolio/portoflio-05.jpg" alt="" /></a>
			<p><a href="#">20mm 顶级顺纹老料极品小叶紫檀高档佛珠</a> <span><a href="#"><strong>查看更多</strong> <i class="mini-ico-chevron-right"></i></a></span></p>
		</div>
	
		<div class="latest-post-blog">
			<a href="#"><img src="images/portfolio/portoflio-06.jpg" alt="" /></a>
			<p><a href="#">20mm 顶级顺纹老料极品小叶紫檀高档佛珠</a> <span><a href="#"><strong>查看更多</strong> <i class="mini-ico-chevron-right"></i></a></span></p>
		</div>
			
		<div class="latest-post-blog">
			<a href="#"><img src="images/portfolio/portoflio-07.jpg" alt="" /></a>
			<p><a href="#">20mm 顶级顺纹老料极品小叶紫檀高档佛珠</a> <span><a href="#"><strong>查看更多</strong> <i class="mini-ico-chevron-right"></i><strong></strong></a></span></p>
		</div>
        
       <div class="latest-post-blog">
			<a href="#"><img src="images/portfolio/portoflio-08.jpg" alt="" /></a>
			<p><a href="#">20mm 顶级顺纹老料极品小叶紫檀高档佛珠</a> <span><a href="#"><strong>查看更多</strong> <i class="mini-ico-chevron-right"></i></a></span></p>
		</div>
        
        <div class="latest-post-blog">
			<a href="#"><img src="images/portfolio/portoflio-09.jpg" alt="" /></a>
			<p><a href="#">20mm 顶级顺纹老料极品小叶紫檀高档佛珠</a> <span><a href="#"><strong>查看更多</strong> <i class="mini-ico-chevron-right"></i></a></span></p>
		</div>

	</div>
	
	
</div>


<!-- Page Content
================================================== -->
<div class="twelve columns" style="margin-top:40px;">

        <!-- Tabs Navigation -->
		<ul class="tabs-nav">
			<li class="active"><a href="#tab1"><i class="mini-ico-exclamation-sign"></i> 产品描述</a></li>
            <li><a href="#tab2"><i class="mini-ico-list-alt"></i> 产品常见问答</a></li>
			<li  class="last-child"><a href="#tab3"><i class="mini-ico-pencil"></i> 产品意见</a></li>
			
		</ul>
				
		<!-- Tabs Content -->
		<div class="tabs-container">
			<div class="tab-content" id="tab1">
            <h3>Lorem ipsum pharetra felis</h3>
            <p>1. Lorem ipsum pharetra felis. Aliquam egestas consectetur elementum class aptent taciti sociosqu ad litora torquent perea conubia nostra lorem inceptos  amet, consectetur adipiscing elit.</p>
            <table class="standard-table">

				<tr>
					<th width="18%">Header 1</th>
					<th width="82%">Header 2</th>
				</tr>

				<tr>
					<td>Item #1</td>
					<td>Description</td>
				</tr>
				
				<tr>
					<td>Item #2</td>
					<td>Description</td>
				</tr>
				
				<tr>
					<td>Item #3</td>
					<td>Description</td>
				</tr>
				
				<tr>
					<td>Item #4</td>
					<td>Description</td>
				</tr>
				
				<tr>
					<td>Item #5</td>
					<td>Description</td>
				</tr>

			</table>
            <h3>Lorem ipsum pharetra felis</h3>
            <p><img src="images/portfolio/booke_001.jpg" alt="" /></p>
            <p><img src="images/portfolio/booke_002.jpg" alt="" /></p>
            <p><img src="images/portfolio/booke_003.jpg" alt="" /></p>
            <p><img src="images/portfolio/booke_004.jpg" alt="" /></p>
            </div>
			<div class="tab-content" id="tab2">
             <ul class="lister3">
		        <li><h4><i class="mini-ico-question-sign"></i> when customers submit their answer, we thank them ?</h4>
				<p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Mauris ut ligula tortorea lorem ipsum dolor sit amet gorbi vel nulla eget quam porttitor gravida.</p></li>
                
                <li><h4><i class="mini-ico-question-sign"></i> when customers submit their answer, we thank them ?</h4>
				<p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Mauris ut ligula tortorea lorem ipsum dolor sit amet gorbi vel nulla eget quam porttitor gravida.</p></li>
                
                <li><h4><i class="mini-ico-question-sign"></i> when customers submit their answer, we thank them ?</h4>
				<p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Mauris ut ligula tortorea lorem ipsum dolor sit amet gorbi vel nulla eget quam porttitor gravida.</p></li>
                
                <li><h4><i class="mini-ico-question-sign"></i> when customers submit their answer, we thank them ?</h4>
				<p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Mauris ut ligula tortorea lorem ipsum dolor sit amet gorbi vel nulla eget quam porttitor gravida.</p></li>
                
                <li><h4><i class="mini-ico-question-sign"></i> when customers submit their answer, we thank them ?</h4>
				<p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Mauris ut ligula tortorea lorem ipsum dolor sit amet gorbi vel nulla eget quam porttitor gravida.</p></li>
                
                <li><h4><i class="mini-ico-question-sign"></i> when customers submit their answer, we thank them ?</h4>
				<p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Mauris ut ligula tortorea lorem ipsum dolor sit amet gorbi vel nulla eget quam porttitor gravida.</p></li>
                
              <li><h4><i class="mini-ico-question-sign"></i> when customers submit their answer, we thank them ?</h4>
				<p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Mauris ut ligula tortorea lorem ipsum dolor sit amet gorbi vel nulla eget quam porttitor gravida.</p></li>

       </ul>
            </div>
			<div class="tab-content" id="tab3">
            <!-- Comments -->
            <!-- Add Comment -->
		<!-- Form -->
		<div id="contact-form">
        <div class="notification error closeable">
			<p>红色 " * " 为必填项，谢谢 !</p>
		</div>
			<form method="post" />
            
            
				
				<div class="field">
					<label>姓名:  <span>*</span></label>
					<input type="text" class="text" />
				</div>
				
				<div class="field">
					<label>电子邮箱: <span>*</span></label>
					<input type="text" class="text" />
				</div>
                
                 <div class="field">
					<label>QQ / Skype: </label>
					<input type="text" class="text" />
				</div>
                
                <div class="field">
					<label>公司: </label>
					<input type="text" class="text" />
				</div>
                
                
                <div class="field">
					<label>产品名称: <span> 请保持默认项，无需编辑</span></label>
					<input type="text" class="text" value="Jack Flannel Plaid Long Sleeve Shirt (Men) Check C - Iteam No.:1655" disabled/>
				</div>
				
				<div class="field">
					<label>评论: <span>*</span></label>
					<textarea class="text textarea"></textarea>
				</div>
                
              
				
				<div class="field">
					<input type="button" id="send" value="发送" />
				</div>
				
			</form>
		</div>
	
</div>
            </div>
		</div>


</div>


<!-- 960 Container End -->


<!-- 960 Container -->
<div class="container">

	<div class="sixteen columns">
		<!-- Headline -->
		<div class="headline"><h3>类似产品</h3></div>
	</div>
	
	<!-- 1/4 Column -->
	<div class="four columns">
		<div class="picture"><a href="single_project.html"><img src="images/portfolio/portoflio-01.jpg" alt="" /><div class="image-overlay-link"></div></a></div>
		<div class="item-description related">
			<h5><a href="single_project.html">20mm 顶级顺纹老料极品小叶紫檀高档佛珠</a></h5>
			<p><a href="#" class="button color">询价</a>
			<a href="#" class="button light">查看详细</a></p>
		</div>
	</div>

	<!-- 1/4 Column -->
	<div class="four columns">
		<div class="picture"><a href="single_project.html"><img src="images/portfolio/portoflio-02.jpg" alt="" /><div class="image-overlay-link"></div></a></div>
		<div class="item-description related">
			<h5><a href="single_project.html">20mm 顶级顺纹老料极品小叶紫檀高档佛珠</a></h5>
			<p><a href="#" class="button color">询价</a>
			<a href="#" class="button light">查看详细</a></p>
		</div>
	</div>
		
	<!-- 1/4 Column -->
	<div class="four columns">
		<div class="picture"><a href="single_project.html"><img src="images/portfolio/portoflio-03.jpg" alt="" /><div class="image-overlay-link"></div></a></div>
		<div class="item-description related">
			<h5><a href="single_project.html">20mm 顶级顺纹老料极品小叶紫檀高档佛珠</a></h5>
			<p><a href="#" class="button color">询价</a>
			<a href="#" class="button light">查看详细</a></p>
		</div>
	</div>
		
	<!-- 1/4 Column -->
	<div class="four columns">
		<div class="picture"><a href="single_project.html"><img src="images/portfolio/portoflio-04.jpg" alt="" /><div class="image-overlay-link"></div></a></div>
		<div class="item-description related">
			<h5><a href="single_project.html">20mm 顶级顺纹老料极品小叶紫檀高档佛珠</a></h5>
			<p><a href="#" class="button color">询价</a>
			<a href="#" class="button light">查看详细</a></p>
		</div>
	</div>
    

	
</div>
<!-- 960 Container / End -->




</div>
<!-- Wrapper / End -->

<!-- Footer
================================================== -->

<!-- Footer Start -->
<div id="footer">
	<!-- 960 Container -->
	<div class="container">
	
		<!-- About -->
		<div class="four columns">
			<div class="footer-headline"><h4>Main Categories</h4></div>
			<ul class="links-list">
				<li><a href="#">Consumer Electronics</a></li>
				<li><a href="#">Community Forum</a></li>
				<li><a href="#">Help Desk</a></li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Validate License</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Knowledgebase</a></li>
			</ul>
		</div>
		
		<!-- Useful Links -->
		<div class="four columns">
			<div class="footer-headline"><h4>Quick Links</h4></div>
			<ul class="links-list">
				<li><a href="#">Service Updates</a></li>
				<li><a href="#">Community Forum</a></li>
				<li><a href="#">Help Desk</a></li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Validate License</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Knowledgebase</a></li>
			</ul>
		</div>
		
		<!-- Photo Stream -->
		<div class="four columns">
			<div class="footer-headline"><h4>Contact Info</h4></div>
            <div class="tooltips">
            <p>
Email: <a rel="tooltip" href="#" data-original-title="At your service">Jiangjiefei@outlook.com</a> <br/> 
Telephone: +86 0566 5111719<br/> 
</p>
            
            
            
            <p>Company Location <br/> <a rel="tooltip" href="#" data-original-title="Address">No.134,Lingyang Rd., Rongcheng Town, Qingyang County, Chizhou City, Anhui Province, China</a><br/>
             <a rel="tooltip" href="#" data-original-title="Office Hours"> Mondays-Friday: 09:00 - 18:00 </a>
            </p>
            </div>
           
        </div>
		
		<!-- Latest Tweets -->
		<div class="four columns">
        <div class="footer-headline"><h4>Quick Contact</h4></div>
			<div class="flickr-widget">
			    <ul>
				<li><a href="#"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
				<li><a href="#"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
				<li><a href="#"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
                <li><a href="#"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
				<li><a href="#"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
				<li><a href="#"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
                </ul>
				<div class="clear"></div>
			</div>
			
		</div>

		<!-- Footer / Bottom -->
		<div class="sixteen columns">
			<div id="footer-bottom">
				&copy; Copyright &copy; 2013.Company name All rights reserved.
				<div id="scroll-top-top"><a href="#"></a></div>
			</div>
		</div>

	</div>
	<!-- 960 Container / End -->

</div>
<!-- Footer / End -->

</body>
</html>