<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8" />
<title>My Inquiry Sheet</title>

<!-- Mobile Specific
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<!-- CSS
================================================== -->
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/boxed.css" id="layout" />
<link rel="stylesheet" type="text/css" href="css/colors/beige.css" id="colors" />

<!-- Java Script
================================================== -->
<script src="js/jquery.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/selectnav.js"></script>
<script src="js/flexslider.js"></script>
<script src="js/twitter.js"></script>
<script src="js/tooltip.js"></script>
<script src="js/effects.js"></script>
<script src="js/fancybox.js"></script>
<script src="js/carousel.js"></script>
<script src="js/isotope.js"></script>

<!-- Styles Switcher
================================================== -->
<link rel="stylesheet" type="text/css" href="css/switcher.css" />
<script src="js/switcher.js"></script>

<script src='/google_analytics_auto.js'></script><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

<!-- Wrapper Start -->
<div id="wrapper">


<!-- Header
================================================== -->

<!-- 960 Container -->
<div class="container ie-dropdown-fix">

	<!-- Header -->
	<div id="header">

		<!-- Logo -->
		<div class="eight columns">
			<div id="logo">
				<a href="#"><img src="images/logo.png" alt="logo" /></a>
				<div id="tagline">我们长在!</div>
				<div class="clear"></div>
			</div>
		</div>

		<!-- Social / Contact -->
		<div class="eight columns">
			
			<!-- Contact Details -->
			<div id="contact-details">
				<ul>
					<li><i class="mini-ico-user"></i><a href="my-profile.html">我的账户</a> </li>
					<li><i class="mini-ico-th-list"></i> <a href="inquiry-item-01.html">查看询价单</a></li>
                    <li><i class="mini-ico-flag"></i> <a href="language.html">语言切换</a></li>
                    <li><i class="mini-ico-off"></i> <a href="#">退出登录</a></li>
				</ul>
			</div>

		</div>

	</div>
	<!-- Header / End -->
	
	<!-- Navigation -->
	<div class="sixteen columns">

		<div id="navigation">
			<ul id="nav">

				<li><a href="index.html">首页</a></li>

				<li><a href="Categories.html">产品中心</a></li>

				<li><a href="Solutions.html">解决方案</a> </li>
                
                <li><a href="List-menu.html">新闻中心</a>
					
				</li>

				<li><a href="Suppot.html">购买合作</a>
					
				</li>

				<li><a href="about.html">关于我们</a></li>
				<li><a href="contact.html">联系我们</a></li>

			</ul>

			<!-- Search Form -->
			<div class="search-form">
				<form method="get" action="#" />
					<input type="text" class="search-text-box" />
				</form>
			</div>

		</div> 
		<div class="clear"></div>
		
	</div>
	<!-- Navigation / End -->

</div>
<!-- 960 Container / End -->


<!-- Content
================================================== -->

<!-- 960 Container -->
<div class="container">

	<div class="sixteen columns">
	
		<!-- Page Title -->
		<div id="page-title">
			<h2><a href="/">首页</a> <span>/ 我的账户</span> <span>/ 我的询价单</span></h2>
			<div id="bolded-line"></div>
		</div>
		<!-- Page Title / End -->

	</div>
</div>
<!-- 960 Container / End -->

	
<!-- 960 Container -->
<div class="container">


<!-- Sidebar
================================================== -->
<div class="four columns">
	<!-- Categories -->
	<div class="widget-alt">
		<div class="headline no-margin">
		  <h4>彩网科技欢迎您</h4></div>
		 
         <!--普通用户状态--><p><i class="mini-ico-user"></i> jiangjiefei@hotmail.com</p>
         <!--VIP用户状态--><ul class="star_list"><li>VIP - jiangjiefei@hotmail.com </li></ul>
         
	</div>


	
	<!-- Categories -->
	<div class="widget-alt">
		<div class="headline">
		  <h4>我的目录</h4></div>
			<ul class="check_list">
				<li><a href="my-InquirySheet.html">我的询价单 </a></li>
				<li><a href="my-profile.html">我的资料</a></li>
				<li><a href="my-password.html">修改密码</a></li>
                <li><a href="my-favorite.html">我的收藏</a></li>

			</ul>
	</div>
    

	
</div>


<!-- Page Content
================================================== -->
<div class="twelve columns">

<div class="headline no-margin"><h4>我的询价单 </h4></div>


<!-- Tabs Navigation -->
		<ul class="tabs-nav">
			<li class="active"><a href="#tab1"><i class="mini-ico-folder-close"></i> 处理中</a></li>
			<li><a href="#tab2"><i class="mini-ico-folder-open"></i> 已报价</a></li>
		</ul>
				
		<!-- Tabs Content -->
    <div class="tabs-container">
    
			<div class="tab-content"  id="tab1">
            
           <div class="notification notice closeable">
			<p><span>您好 !</span>  我们将会在两个工作日内就您的询价给予回复，感谢您的支持！ </p>
		</div>
                  
             
             
             <table class="standard-table">

                <tr>
					<th width="50%">产品名称 </th>
					<th  width="35%">型号</th>
					<th  width="15%">数量</th>
				</tr>

				<tr>
					<td><a href="item.html"><img src="images/portfolio/portoflio-01.jpg" alt="" class="image-left w55"/></a>
                  <a href="item.html">Jack Flannel Plaid Long Sleeve Shirt (Men) Check C</a></td>
					<td>BF-220A+ with black and gray</td>
					<td>20</td>
		        </tr>
				
				<tr>
					<td><a href="item.html"><img src="images/portfolio/portoflio-01.jpg" alt="" class="image-left w55"/></a>
                  <a href="item.html">Jack Flannel Plaid Long Sleeve Shirt (Men) Check C</a></td>
					<td>BF-220A+ with black and gray</td>
					<td>70</td>
		        </tr>
             </table>
             
             <blockquote>
             <p>
             <i class="mini-ico-list-alt"></i> 单号: 20130912143409 (由系统-年+月+日+时+分+秒-生成)<br/>
             <i class="mini-ico-calendar"></i> 日期: 2013-06-25<br/>
             <i class="mini-ico-th-list"></i> 运输: 快递<br/>
             <i class="mini-ico-comment"></i> 留言: 无需彩盒包装
             </p>
             </blockquote>
	
                <table class="standard-table">

                <tr>
					<th width="50%">产品名称 </th>
					<th  width="35%">型号</th>
					<th  width="15%">数量</th>
				</tr>

				<tr>
					<td><a href="item.html"><img src="images/portfolio/portoflio-01.jpg" alt="" class="image-left w55"/></a>
                  <a href="item.html">Jack Flannel Plaid Long Sleeve Shirt (Men) Check C</a></td>
					<td>BF-220A+ with black and gray</td>
					<td>20</td>
		        </tr>
             </table>
             
             <blockquote>
             <p>
             <i class="mini-ico-list-alt"></i> 单号: 20130912143409<br/>
             <i class="mini-ico-calendar"></i> 日期: 2013-06-25<br/>
             <i class="mini-ico-th-list"></i> 运输: 快递<br/>
             <i class="mini-ico-comment"></i> 留言: 无需彩盒包装
             </p>
             </blockquote>
		
      
        <ul class="pagination">
		<a href="#"><li>1</li></a>
		<a href="#"><li class="current">2</li></a>
		<a href="#"><li>3</li></a>
	    </ul>
            </div>
            
			<div class="tab-content" id="tab2">
            <div class="notification success closeable">
			<p><span>您好 !</span>  询价已发送至您的登陆邮箱，请查收并感谢您的支持。同时衷心期待您的回复！</p>
		</div>
                   
             <table class="standard-table">

                <tr>
					<th width="50%">产品名称 </th>
					<th  width="35%">型号</th>
					<th  width="15%">数量</th>
				</tr>

				<tr>
					<td><a href="item.html"><img src="images/portfolio/portoflio-01.jpg" alt="" class="image-left w55"/></a>
                  <a href="item.html">Jack Flannel Plaid Long Sleeve Shirt (Men) Check C</a></td>
					<td>BF-220A+ with black and gray</td>
					<td>20</td>
		        </tr>
				
				<tr>
					<td><a href="item.html"><img src="images/portfolio/portoflio-01.jpg" alt="" class="image-left w55"/></a>
                  <a href="item.html">Jack Flannel Plaid Long Sleeve Shirt (Men) Check C</a></td>
					<td>BF-220A+ with black and gray</td>
					<td>70</td>
		        </tr>
             </table>
             
             <blockquote>
             <p>
             <i class="mini-ico-list-alt"></i> 单号: 20130912143409<br/>
             <i class="mini-ico-calendar"></i> 日期: 2013-06-25<br/>
             <i class="mini-ico-th-list"></i> 运输: 快递<br/>
             <i class="mini-ico-comment"></i> 留言: 无需彩盒包装
			 
             </p>
             
             </blockquote>
             
             
             <table class="standard-table">

                <tr>
					<th width="50%">产品名称 </th>
					<th  width="35%">型号</th>
					<th  width="15%">数量</th>
				</tr>
                <tr>
					<td><a href="item.html"><img src="images/portfolio/portoflio-01.jpg" alt="" class="image-left w55"/></a>
                  <a href="item.html">Jack Flannel Plaid Long Sleeve Shirt (Men) Check C</a></td>
					<td>BF-220A+ with black and gray</td>
					<td>70</td>
		        </tr>
             </table>
             
             <blockquote>
             <p>
             <i class="mini-ico-list-alt"></i> 单号: 20130912143409<br/>
             <i class="mini-ico-calendar"></i> 日期: 2013-06-25<br/>
             <i class="mini-ico-th-list"></i> 运输: 快递<br/>
             <i class="mini-ico-comment"></i> 留言: 无需彩盒包装
              
             </p>
             </blockquote>
	
                <table class="standard-table">

                <tr>
					<th width="50%">产品名称 </th>
					<th  width="35%">型号</th>
					<th  width="15%">数量</th>
				</tr>

				<tr>
					<td><a href="item.html"><img src="images/portfolio/portoflio-01.jpg" alt="" class="image-left w55"/></a>
                  <a href="item.html">Jack Flannel Plaid Long Sleeve Shirt (Men) Check C</a></td>
					<td>BF-220A+ with black and gray</td>
					<td>20</td>
		        </tr>
             </table>
             
             <blockquote>
             <p>
             <i class="mini-ico-list-alt"></i> 单号: 20130912143409<br/>
             <i class="mini-ico-calendar"></i> 日期: 2013-06-25<br/>
             <i class="mini-ico-th-list"></i> 运输: 快递<br/>
             <i class="mini-ico-comment"></i> 留言: 无需彩盒包装
              
             </p>
             </blockquote>
		
      
        <ul class="pagination">
		<a href="#"><li>1</li></a>
		<a href="#"><li class="current">2</li></a>
		<a href="#"><li>3</li></a>
	    </ul>
            </div>
            
		</div>


	<!--<p  class="alert-red">
    Notice: The quotations above are serves as a guide line only, all of those are subject to our final confirmation and the fluctuations of the market.
    </p>-->

</div>

    
</div>
<!-- 960 Container End -->


</div>
<!-- Wrapper / End -->

<!-- Footer
================================================== -->

<!-- Footer Start -->
<div id="footer">
	<!-- 960 Container -->
	<div class="container">
	
		<!-- About -->
		<div class="four columns">
			<div class="footer-headline"><h4>Main Categories</h4></div>
			<ul class="links-list">
				<li><a href="#">Consumer Electronics</a></li>
				<li><a href="#">Community Forum</a></li>
				<li><a href="#">Help Desk</a></li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Validate License</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Knowledgebase</a></li>
			</ul>
		</div>
		
		<!-- Useful Links -->
		<div class="four columns">
			<div class="footer-headline"><h4>Quick Links</h4></div>
			<ul class="links-list">
				<li><a href="#">Service Updates</a></li>
				<li><a href="#">Community Forum</a></li>
				<li><a href="#">Help Desk</a></li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Validate License</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Knowledgebase</a></li>
			</ul>
		</div>
		
		<!-- Photo Stream -->
		<div class="four columns">
			<div class="footer-headline"><h4>Contact Info</h4></div>
            <div class="tooltips">
            <p>
Email: <a rel="tooltip" href="#" data-original-title="At your service">Jiangjiefei@outlook.com</a> <br/> 
Telephone: +86 0566 5111719<br/> 
</p>
            
            
            
            <p>Company Location <br/> <a rel="tooltip" href="#" data-original-title="Address">No.134,Lingyang Rd., Rongcheng Town, Qingyang County, Chizhou City, Anhui Province, China</a><br/>
             <a rel="tooltip" href="#" data-original-title="Office Hours"> Mondays-Friday: 09:00 - 18:00 </a>
            </p>
            </div>
           
        </div>
		
		<!-- Latest Tweets -->
		<div class="four columns">
        <div class="footer-headline"><h4>Quick Contact</h4></div>
			<div class="flickr-widget">
			    <ul>
				<li><a href="#"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
				<li><a href="#"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
				<li><a href="#"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
                <li><a href="#"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
				<li><a href="#"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
				<li><a href="#"><img src="images/portfolio/headico.jpg" alt="" /></a></li>
                </ul>
				<div class="clear"></div>
			</div>
			
		</div>

		<!-- Footer / Bottom -->
		<div class="sixteen columns">
			<div id="footer-bottom">
				&copy; Copyright &copy; 2013.Company name All rights reserved.
				<div id="scroll-top-top"><a href="#"></a></div>
			</div>
		</div>

	</div>
	<!-- 960 Container / End -->

</div>
<!-- Footer / End -->

</body>
</html>