<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8" />
<title>My Profile</title>

<!-- Mobile Specific
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<!-- CSS
================================================== -->
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/boxed.css" id="layout" />
<link rel="stylesheet" type="text/css" href="css/colors/beige.css" id="colors" />

<!-- Java Script
================================================== -->
<script src="js/jquery.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/selectnav.js"></script>
<script src="js/flexslider.js"></script>
<script src="js/twitter.js"></script>
<script src="js/tooltip.js"></script>
<script src="js/effects.js"></script>
<script src="js/fancybox.js"></script>
<script src="js/carousel.js"></script>
<script src="js/isotope.js"></script>

<!-- Styles Switcher
================================================== -->
<link rel="stylesheet" type="text/css" href="css/switcher.css" />
<script src="js/switcher.js"></script>

<script src='/google_analytics_auto.js'></script><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

<!-- Wrapper Start -->
<div id="wrapper">


<!-- Header
================================================== -->

<!-- 960 Container -->
<div class="container ie-dropdown-fix">

	<!-- Header -->
	<div id="header">

		<!-- Logo -->
		<div class="eight columns">
			<div id="logo">
				<a href="#"><img src="images/logo.png" alt="logo" /></a>
				<div id="tagline">我们长在 !</div>
				<div class="clear"></div>
			</div>
		</div>

		<!-- Social / Contact -->
		<div class="eight columns">
			
			<!-- Contact Details -->
			<div id="contact-details">
				<ul>
					<li><i class="mini-ico-user"></i><a href="my-profile.html">我的账户</a> </li>
					<li><i class="mini-ico-th-list"></i> <a href="inquiry-item-01.html">查看询价单</a></li>
                    <li><i class="mini-ico-flag"></i> <a href="language.html">语言切换</a></li>
                    <li><i class="mini-ico-off"></i> <a href="#">退出登录</a></li>
                    
				</ul>
			</div>

		</div>

	</div>
	<!-- Header / End -->
	
	<!-- Navigation -->
	<div class="sixteen columns">

		<div id="navigation">
			<ul id="nav">

				<li><a href="index.html">首页</a></li>

				<li><a href="Categories.html">产品中心</a></li>

				<li><a href="Solutions.html">解决方案</a> </li>
                
                <li><a href="List-menu.html">新闻中心</a>
					
				</li>

				<li><a href="Suppot.html">购买合作</a>
					
				</li>

				<li><a href="about.html">关于我们</a></li>
				<li><a href="contact.html">联系我们</a></li>

			</ul>

			<!-- Search Form -->
			<div class="search-form">
				<form method="get" action="#" />
					<input type="text" class="search-text-box" />
				</form>
			</div>

		</div> 
		<div class="clear"></div>
		
	</div>
	<!-- Navigation / End -->

</div>
<!-- 960 Container / End -->


<!-- Content
================================================== -->

<!-- 960 Container -->
<div class="container">

	<div class="sixteen columns">
	
		<!-- Page Title -->
		<div id="page-title">
			<h2><a href="/">首页</a> <span>/ 我的账户</span> <span>/ 我的资料</span></h2>
			<div id="bolded-line"></div>
		</div>
		<!-- Page Title / End -->

	</div>
</div>
<!-- 960 Container / End -->

	
<!-- 960 Container -->
<div class="container">


<!-- Sidebar
================================================== -->
<div class="four columns">
	<!-- Categories -->
	<div class="widget-alt">
		<div class="headline no-margin">
		  <h4>彩网科技欢迎您</h4></div>
		 
         <!--普通用户状态--><p><i class="mini-ico-user"></i> jiangjiefei@hotmail.com</p>
         <!--VIP用户状态--><ul class="star_list"><li>VIP - jiangjiefei@hotmail.com </li></ul>
         
	</div>


	
	<!-- Categories -->
	<div class="widget-alt">
		<div class="headline">
		  <h4>我的目录</h4></div>
			<ul class="check_list">
				<li><a href="my-InquirySheet.html">我的询价单 </a></li>
				<li><a href="my-profile.html">我的资料</a></li>
				<li><a href="my-password.html">修改密码</a></li>
                <li><a href="my-favorite.html">我的收藏</a></li>

			</ul>
	</div>

    	

	
	
	
</div>


<!-- Page Content
================================================== -->
<div class="twelve columns">

<div class="headline no-margin"><h4>我的资料</h4></div>

<p>如果您能提供详细的资料信息我们将会非常感谢，并依此为判断是否给予您VIP的称号。<br/>
VIP会员将可以享有更多的功能权限，例如XXX<br/>

<span class="alert-orange">温馨提示：您提供的资料越真实完善，您成为我们VIP会员的机会就会越高。您的信息隐私是绝对安全的，将仅限于我们与您的沟通交流之用，绝不会泄露于任何第三方。</span></p>

<!-- Form -->
		<div id="contact-form">
			<form method="post" action="contact.php" />
				
				<div class="field">
					<label class="left-block">姓名:</label>
					<input type="text" name="name" class="text" />
				</div>
                

                
                	<div class="field">
					<label>称谓:</label>
				<select name="">
		  <option>女士</option>
		  <option>先生</option>
	  </select>
		  </div>
				
				<div class="field">
					<label>生日:</label>
					<input type="text" name="Date of Birth" class="text" />
				</div>
                
                                <div class="field">
					<label>公司:</label>
					<input type="text" name="name" class="text" />
				</div>
                
                <div class="field">
					<label>QQ:</label>
					<input type="text" name="name" class="text" />
				</div>
                
                <div class="field">
					<label>Skype:</label>
					<input type="text" name="name" class="text" />
				</div>
                
                <div class="field">
					<label>国家:</label>
					<input type="text" name="Country" class="text" />
				</div>
				
				<div class="field">
					<label>省份:</label>
					<input type="text" name="StateProvince" class="text" />
				</div>
                
                <div class="field">
					<label>城市:</label>
					<input type="text" name="City" class="text" />
				</div>
                
                <div class="field">
					<label>地址:</label>
					<input type="text" name="Address" class="text" />
				</div>
				
                <div class="notification success closeable">
			<p><span>*</span> 您的信息资料更新成功 ！</p>
		</div>
                
				<div class="field">
					<input type="button" id="send" value="保存更改" />
					<div class="loading"></div>
				</div>
				
			</form>
		</div>

</div>

	
</div>
<!-- 960 Container End -->


</div>
<!-- Wrapper / End -->

<!-- Footer
================================================== -->

<!-- Footer Start -->
<div id="footer">
	<!-- 960 Container -->
	<div class="container">
	
		<!-- About -->
		<div class="four columns">
			<div class="footer-headline"><h4>Main Categories</h4></div>
			<ul class="links-list">
				<li><a href="#">Consumer Electronics</a></li>
				<li><a href="#">Community Forum</a></li>
				<li><a href="#">Help Desk</a></li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Validate License</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Knowledgebase</a></li>
			</ul>
		</div>
		
		<!-- Useful Links -->
		<div class="four columns">
			<div class="footer-headline"><h4>Quick Links</h4></div>
			<ul class="links-list">
				<li><a href="#">Service Updates</a></li>
				<li><a href="#">Community Forum</a></li>
				<li><a href="#">Help Desk</a></li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Validate License</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Knowledgebase</a></li>
			</ul>
		</div>
		
		<!-- Photo Stream -->
		<div class="four columns">
			<div class="footer-headline"><h4>Contact Info</h4></div>
            <div class="tooltips">
            <p>
Email: <a rel="tooltip" href="#" data-original-title="At your service">Jiangjiefei@outlook.com</a> <br/> 
Telephone: +86 0566 5111719<br/> 
</p>
            
            
            
            <p>Company Location <br/> <a rel="tooltip" href="#" data-original-title="Address">No.134,Lingyang Rd., Rongcheng Town, Qingyang County, Chizhou City, Anhui Province, China</a><br/>
             <a rel="tooltip" href="#" data-original-title="Office Hours"> Mondays-Friday: 09:00 - 18:00 </a>
            </p>
            </div>
           
        </div>
		
		<!-- Latest Tweets -->
		<div class="four columns">
        <div class="footer-headline"><h4>Quick Contact</h4></div>
			<div class="flickr-widget">
			    <ul>
				<li><a href="#"><img src="images/popular-post-04.png" alt="" /></a></li>
				<li><a href="#"><img src="images/popular-post-05.png" alt="" /></a></li>
				<li><a href="#"><img src="images/popular-post-06.png" alt="" /></a></li>
                <li><a href="#"><img src="images/popular-post-06.png" alt="" /></a></li>
				<li><a href="#"><img src="images/popular-post-05.png" alt="" /></a></li>
				<li><a href="#"><img src="images/popular-post-04.png" alt="" /></a></li>
                </ul>
				<div class="clear"></div>
			</div>
			
		</div>

		<!-- Footer / Bottom -->
		<div class="sixteen columns">
			<div id="footer-bottom">
				&copy; Copyright &copy; 2013.Company name All rights reserved.
				<div id="scroll-top-top"><a href="#"></a></div>
			</div>
		</div>

	</div>
	<!-- 960 Container / End -->

</div>
<!-- Footer / End -->



</body>
</html>